body {
  padding: 0 5em;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* *******TABLE******* .tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
} */

.hidden {
  /* visibility: hidden; */
  opacity: 0;
  display: none;
}

.upload-file-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.upload-file {
  margin: 0 auto;
}
.working-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50vw 50vw;
  /* gap: 1em; */
}
.format {
  margin-top: 2.1em;

  /* position: relative; */
}
.toggle-button {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/* #table {
  display: table;
} */

#preview {
  margin-left: 6em;
  width: 30em;
  height: 20em;
  /* max-width: 100%;
  max-height: 100%; */
  border: 1px solid black;
  /* background-position: center; */
  background-size: contain;
}
/* #fileContent {
  list-style: none;
} */
.json-list {
  list-style: none;
}
