body {
  padding: 0 5em;
  font-family: 'Lato', sans-serif;
  color: #E1341E;
  background-image: linear-gradient(#E3FDFD, #A6E3E9);
  height: 100vh;
  overflow-y: hidden;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#fileContent{
  background-color: #E3FDFD;
  color: #CE7671;
  font-weight: bold;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.table-display {
  overflow-x: auto;
  margin-right: 2em;
  scroll-behavior: smooth;
}
.table{
  background-color: #E3FDFD;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px black solid;
}
.color-text{
  color: #E1341E;
}
td, tr{
    color: #E1341E;
}
#upload-icon{
  width: 100%;
  height: 100%;
  color: rgba(39, 39, 39, 0.309);
}
 /* .table{
  table-layout: fixed;
  width: 100%;
} */

.hidden {
  /* visibility: hidden; */
  opacity: 0;
  display: none;
}
.transparent{
  visibility: hidden;
  opacity: 0;
}

.upload-file-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.upload-file {
  margin: 0 auto;
}
.working-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50vw 50vw;
  /* gap: 1em; */
}
.format {
  margin-top: 2.1em;

  /* position: relative; */
}
.toggle-button {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/* #table {
  display: table;
} */

#preview {
  margin-left: 6em;
  width: 30em;
  height: 20em;
  /* max-width: 100%;
  max-height: 100%; */
  border: dashed 4px rgba(39, 39, 39, 0.309);;
  /* background-position: center; */
  background-size: contain;
}

.json-list {
  list-style: none;
}
